# 1. install libaries

In [20]:
pip install requests

Requirement already satisfied: requests in /Users/j/opt/anaconda3/lib/python3.7/site-packages (2.22.0)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /Users/j/opt/anaconda3/lib/python3.7/site-packages (from requests) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /Users/j/opt/anaconda3/lib/python3.7/site-packages (from requests) (1.24.2)
Requirement already satisfied: idna<2.9,>=2.5 in /Users/j/opt/anaconda3/lib/python3.7/site-packages (from requests) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in /Users/j/opt/anaconda3/lib/python3.7/site-packages (from requests) (2019.9.11)
Note: you may need to restart the kernel to use updated packages.

In [79]:
pip install XBRL

Requirement already satisfied: XBRL in /Users/j/opt/anaconda3/lib/python3.7/site-packages (0.0.1)
Note: you may need to restart the kernel to use updated packages.

In [80]:
pip install oauth2

Collecting oauth2
  Downloading https://files.pythonhosted.org/packages/a0/6f/86db603912ecd04109af952c38bc08928886cf0e34c723481fa7db98b4b5/oauth2-1.9.0.post1-py2.py3-none-any.whl
Collecting httplib2 (from oauth2)
  Downloading https://files.pythonhosted.org/packages/15/dc/d14bce03f4bfd0214b90a3f556d7c96f75bb94ad597c816a641b962f22e9/httplib2-0.19.1-py3-none-any.whl (95kB)
     |████████████████████████████████| 102kB 8.1MB/s ta 0:00:01
Requirement already satisfied: pyparsing<3,>=2.4.2 in /Users/j/opt/anaconda3/lib/python3.7/site-packages (from httplib2->oauth2) (2.4.2)
Installing collected packages: httplib2, oauth2
Successfully installed httplib2-0.19.1 oauth2-1.9.0.post1
Note: you may need to restart the kernel to use updated packages.

# 2. import libraries

In [1]:
import requests

In [2]:
import os, re, sys, json

In [3]:
import pandas as pd

In [4]:
import numpy as np

In [5]:
import getpass

# 3. Authentication for xbrl token

### 3.1. acess token

In [6]:
"""
get access token from XBRL API
"""
# print('Enter XBRL US Web account email: ')
email = 'jesse.c.jia@gmail.com'
# print('Account password: ')
password = 'QAZwsx123'
# print('Client ID: ')
clientid = 'bf3ba33f-e98b-4159-aea2-466445f9621f'
# print('Client secret: ')
secret = 'a3f87777-0086-4208-8d3b-df494408271e'

body_auth = {'username' : ''.join(email), 
            'client_id': ''.join(clientid), 
            'client_secret' : ''.join(secret), 
            'password' : ''.join(password), 
            'grant_type' : 'password', 
            'platform' : 'ipynb' }
endpoint_auth = 'https://api.xbrl.us/oauth2/token'
res = requests.post(endpoint_auth, data=body_auth)
auth_json = res.json()

if 'error' in auth_json:
        print ("\n\nThere was a problem generating an access token with these credentials. Run the first cell again to enter credentials.")
else:
        print ("\n\nYour access token expires in 60 minutes. After it expires, run the cell immediately below this one to generate a new token and continue to use the query cell. \n\nFor now, skip ahead to the section 'Make a Query'.")

access_token = auth_json['access_token']
refresh_token = auth_json['refresh_token']
newaccess = ''
newrefresh = ''

Your access token expires in 60 minutes. After it expires, run the cell immediately below this one to generate a new token and continue to use the query cell.

For now, skip ahead to the section 'Make a Query'.


### 3.2. refresh token

In [96]:

"""
reconnect to XBRL API when expire
"""
token = token if newrefresh != '' else refresh_token 

refresh_auth = {'client_id': ''.join(clientid), 
            'client_secret' : ''.join(secret), 
            'grant_type' : 'refresh_token', 
            'platform' : 'ipynb', 
            'refresh_token' : ''.join(token) }
refreshres = requests.post(endpoint_auth, data=refresh_auth)
refresh_json = refreshres.json()
access_token = refresh_json['access_token']
refresh_token = refresh_json['refresh_token']#print('access token: ' + access_token + 'refresh token: ' + refresh_token)
print('Your access token is refreshed for 60 minutes. If it expires again, run this cell to generate a new token and continue to use the query cells below.')
print(access_token)

Your access token is refreshed for 60 minutes. If it expires again, run this cell to generate a new token and continue to use the query cells below.
57cee903-cd7c-44e5-8184-709f5d34ff50

# 4. Prepare Data

### 4.1 file and data path

In [7]:
"""
get document path
"""
root_path = os.path.abspath(os.path.dirname(os.getcwd()))
data_path = os.path.join(root_path, 'data')
company_path = os.path.join(data_path, 'company')
company_cik_path = os.path.join(company_path, 'CIK_Summary.csv')
sec_cfp_path = os.path.join(data_path, "SEC_FIN_data")
sec_argriculture = os.path.join(sec_cfp_path, "agriculture")

### 4.2. read cik file

In [8]:
"""
import company-cik file
"""

#read cik.csv as a pandas DataFrame
ciksDF = pd.read_csv(company_cik_path, header=None)

#set the column with all the tickers as the index
ciksDF = ciksDF.set_index(0)

### 4.3. define company name and cik converting function

In [10]:
#function to return CIK of a ticker
def getCIK(ticker):
    """
    input ticker
    return respect cik
    """
    try:
        return int(ciksDF.loc[ticker.lower(), 1])

    #return None there's no CIK for the ticker
    except:
        print(f"{ticker} does not exist.")
        return None
    
    
#function to return CIK of a list of tickers
def outputcik(TICKERS): 
    """
    input ticker list
    return cik repsectively in list
    """
    cikDir = []
    for ticker in TICKERS:
        a = str(getCIK(ticker))
        if a != 'None':
            cik = a.zfill(10)
            cikDir.append(cik)
        else:
            pass
    return cikDir

In [11]:
# test code
lis = outputcik(["uytuyfd","a"])
lis

uytuyfd does not exist.

['0001090872']

### 4.4. Read Company List

In [12]:
# company list

company_list = ["YTEN", "UAN", "CGA", "RKDA", "FMC", "MOS", "SEED", "CTVA", "MBII", "AVD", "ICL", "IPI", "NTR", "MGPI", "SMG", "CF"]

In [13]:
len(company_list)

16

### 4.5. convert company_name into cik

In [14]:
# generate cik list
cik_list = outputcik(company_list)

In [15]:
# cik_list1 = cik_list.pop(2)

In [16]:
len(cik_list)

16

In [17]:
cik_list

['0001121702',
 '0001425292',
 '0000857949',
 '0001469443',
 '0000037785',
 '0001285785',
 '0001321851',
 '0001755672',
 '0001441693',
 '0000005981',
 '0000941221',
 '0001421461',
 '0001725964',
 '0000835011',
 '0000825542',
 '0001324404']

### 4.6. financial data conceptual name

In [18]:
# financial data with the conceptual name on SEC website respectively
Financial_data_dic = {
    "revenue" : "RevenueFromContractWithCustomerExcludingAssessedTax",
    "net_income" : "NetIncomeLoss",
    "operating_income" : "OperatingIncomeLoss", 
    "asset" : "Assets",
    "current_asset" : "AssetsCurrent",
    "inventory" : "InventoryNet",
    "current_liability" : "LiabilitiesCurrent",
    "debt" : "LongTermDebtNoncurrent",
    "equity" : "StockholdersEquity",
    "eps" : "EarningsPerShareBasic"
}

### 4.7. read cfp file function

In [19]:
def read_fin_data_file(path):
    df = pd.read_csv(path)
    df = df.set_index('Unnamed: 0')
    return df

# 5. Request data via XBRL

In [22]:
def acquire_data(company_cik, financial_data):
    """
    input company cik value and financial conceptual name on SEC
    return data frame of financial value, year, entity name, and so on, (details see fiels list)
    """
    
    # Define the fields to be returned
    fields = ['period.fiscal-year.sort(DESC)',
              'period.end.sort(DESC)',
              'entity.name.sort(ASC)',
              'entity.cik.sort(ASC)',
              'concept.local-name.sort(ASC)',
              'fact.value',
              'unit',
              'report.filing-date']
    
    # Filter the query for specific XBRL elements (tags) to research
    XBRL_Elements = [financial_data
                ]
    
    # Filter companies for the query
    companies_cik = [company_cik
                ]
    
    # api parameters
    params = {'fields': ','.join(fields),
         'concept.local-name': ','.join(XBRL_Elements),
         'entity.cik': ','.join(companies_cik),
         #'period.fiscal-year': ','.join(years),
         'period.fiscal-period': 'Y',
         'fact.has-dimensions': 'FALSE',
         'fact.ultimus': 'TRUE'
         }
    
    search_endpoint = 'https://api.xbrl.us/api/v1/fact/search'
    res = requests.get(search_endpoint, params=params, headers={'Authorization' : 'Bearer {}'.format(access_token)})
    res_json = res.json()
    res_df = pd.DataFrame(res_json['data'])
    
#     print(res_json['paging'])
#     print(res_df)
    return res_df

In [23]:
# TEST CODE
df_test = acquire_data('0001121702',"Assets")

In [24]:
df_test

,period.fiscal-year,period.end,entity.name,entity.cik,concept.local-name,fact.value,unit,report.filing-date
0,2020,None,"YIELD10 BIOSCIENCE, INC.",0001121702,Assets,14522000,USD,2021-08-11
1,2019,None,"YIELD10 BIOSCIENCE, INC.",0001121702,Assets,16718000,USD,2021-03-16
2,2018,None,"YIELD10 BIOSCIENCE, INC.",0001121702,Assets,12960000,USD,2020-03-25
3,2017,None,"YIELD10 BIOSCIENCE, INC.",0001121702,Assets,16882000,USD,2019-03-28
4,2016,None,"YIELD10 BIOSCIENCE, INC.",0001121702,Assets,10748000,USD,2018-03-12
5,2015,None,"YIELD10 BIOSCIENCE, INC.",0001121702,Assets,17088000,USD,2017-03-30
6,2014,None,"METABOLIX, INC.",0001121702,Assets,23135000,USD,2016-03-29
7,2013,None,"METABOLIX, INC.",0001121702,Assets,26738000,USD,2015-03-25
8,2012,None,"METABOLIX, INC.",0001121702,Assets,53510000,USD,2014-03-28
9,2011,None,"METABOLIX, INC.",0001121702,Assets,82912000,USD,2013-03-28
10,2010,None,"METABOLIX, INC.",0001121702,Assets,66771000,USD,2012-03-12

In [27]:
# for cik in cik_list:
#     #print(cik)
#     cik_fin_value_df = df_empty = pd.DataFrame(columns=['A', 'B', 'C', 'D'])
#     for k, v in Financial_data_dic.items():
#         print(cik,v)
#         temp_df = acquire_data(cik, v) asset
#         print(temp_df)

In [28]:
def generate_financial_data(cik, Financial_data_dic):
    """
    input company's cik value and financial item dic
    acquire financial value through xrbl API,
    calculate financial ratio and append in data frame
    return a data frame with year, company name, financial ratios
    """
    
    # create a empty data frame for use
    cik_fin_value_df = pd.DataFrame()
    # cik = "0001121702"
    for k, v in Financial_data_dic.items():
        print(f"current cik is {cik}, acquire {k}")
        
        # return first financial values into df
        if k == "revenue":
            
            cik_fin_value_df = acquire_data(cik, v)
            if cik_fin_value_df.empty:
                pass
            else:
                cik_fin_value_df.rename(columns = {"fact.value" : k}, inplace = True)
                cik_fin_value_df[k] = pd.to_numeric(cik_fin_value_df[k])
                cik_fin_value_df.drop(labels = "concept.local-name", axis = 1, inplace = True)
                cik_fin_value_df.drop(labels = "unit", axis = 1, inplace = True)
                cik_fin_value_df.drop(labels = "report.filing-date", axis = 1, inplace = True)

    #         cik_fin_value_df.drop(labels = "entity.name", axis = 1, inplace = True)

        
        # create temp df, and acquire rest financial data, then concate with inital df
        else:
#             print(cik,k,v)
            temp_df = acquire_data(cik, v)
            if temp_df.empty:
                temp_df[k] = np.NaN
                cik_fin_value_df = pd.concat([cik_fin_value_df, temp_df], axis = 1)
            else:
                temp_df.rename(columns = {"fact.value" : k}, inplace = True)
                temp_df[k] = pd.to_numeric(temp_df[k])

                temp_df.drop(labels = "concept.local-name", axis = 1, inplace = True)
    #             temp_df.drop(labels = "period.end", axis = 1, inplace = True)
                temp_df.drop(labels = "unit", axis = 1, inplace = True)
                temp_df.drop(labels = "report.filing-date", axis = 1, inplace = True)
    #             temp_df.drop(labels = "entity.name", axis = 1, inplace = True)


    #             if len(temp_df["period.end"]) >= len(cik_fin_value_df["period.end"]):
    #                 cik_fin_value_df.drop(labels = "period.end", axis = 1, inplace = True)
    #             else:
                temp_df.drop(labels = "period.end", axis = 1, inplace = True)
    
                # keep the most company name column
                try:
                    if len(temp_df["entity.cik"]) >= len(cik_fin_value_df["entity.cik"]):
                        cik_fin_value_df.drop(labels = "entity.name", axis = 1, inplace = True)
                        cik_fin_value_df.drop(labels = "entity.cik", axis = 1, inplace = True)
                    else:
                        temp_df.drop(labels = "entity.name", axis = 1, inplace = True)
                        temp_df.drop(labels = "entity.cik", axis = 1, inplace = True)
                except:
                    pass



    #             cik_fin_value_df = pd.concat([cik_fin_value_df, temp_df], axis = 1)
    #             cikabs_fin_value_df = pd.concat((cik_fin_value_df, temp_df), axis = 1, join = "outer")
                try:
                    cik_fin_value_df = pd.merge(cik_fin_value_df, temp_df, on = "period.fiscal-year", how = "outer")
                except:
                    pass
    
    # calculate financial ratios
#     Ratios_calculator(cik_fin_value_df)
    print(f"{cik} fin data acquire compeleted.")
    save_csv(cik_fin_value_df, sec_argriculture, cik)
    
#     return cik_fin_value_df
    return None


# cik_fin_value_df["ROA1"] = cik_fin_value_df.apply(lambda x:x["net_income"]/x["asset"], axis = 1)
# cik_fin_value_df["ROE1"] = cik_fin_value_df.apply(lambda x:x["net_income"]/x["equity"], axis = 1)
# cik_fin_value_df["ROC1"] = cik_fin_value_df.apply(lambda x:(x["net_income"] + x["debt"])/x["asset"], axis = 1)
# cik_fin_value_df["OperatingMargin"] = cik_fin_value_df.apply(lambda x:x["operating_income"]/x["revenue"], axis = 1)
# cik_fin_value_df["NetMargin"] = cik_fin_value_df.apply(lambda x:x["net_income"]/x["revenue"], axis = 1)
# cik_fin_value_df["CurrentRatio"] = cik_fin_value_df.apply(lambda x:x["current_asset"]/x["current_liability"], axis = 1)
# cik_fin_value_df["QuickRatio"] = cik_fin_value_df.apply(lambda x:(x["current_asset"]-x["inventory"])/x["current_liability"], axis = 1)
# cik_fin_value_df["DERatio"] = cik_fin_value_df.apply(lambda x:x["debt"]/x["equity"], axis = 1)

In [29]:
# TEST CODE

# test1_df = generate_financial_data('0000857949', Financial_data_dic)

In [31]:
test1_df

NameError: name 'test1_df' is not defined

In [32]:
def ROA1(df):
    df["ROA1"] = df.apply(lambda x:x["net_income"]/x["asset"], axis = 1)

def ROE1(df):
    df["ROE1"] = df.apply(lambda x:x["net_income"]/x["equity"], axis = 1)

def ROC1(df):
    df["ROC1"] = df.apply(lambda x:(x["net_income"] + x["debt"])/x["asset"], axis = 1)

def Op_Margin(df):
    df["OperatingMargin"] = df.apply(lambda x:x["operating_income"]/x["revenue"], axis = 1)
    
def Net_Margin(df):
    df["NetMargin"] = df.apply(lambda x:x["net_income"]/x["revenue"], axis = 1)
    
def Current_Ratio(df):
    df["CurrentRatio"] = df.apply(lambda x:x["current_asset"]/x["current_liability"], axis = 1)

def Quick_Ratio(df):
    df["QuickRatio"] = df.apply(lambda x:(x["current_asset"]-x["inventory"])/x["current_liability"], axis = 1)

def DE(df):
    df["DERatio"] = df.apply(lambda x:x["debt"]/x["equity"], axis = 1)

In [33]:
def Ratios_calculator(df):
    ROA1(df)
    ROE1(df)
    ROC1(df)
    Op_Margin(df)
    Net_Margin(df)
    Current_Ratio(df)
    Quick_Ratio(df)
    DE(df)
    
    return df

In [34]:
def generate_financial_ratio(cik, industry, valid_list, invalid_list):
#     generate_financial_data(cik, fin_data_dic)
    
    df = read_fin_data_file(f'{sec_cfp_path}/{industry}/{cik}.csv')
    
    #print(cik)

    try:
        Ratios_calculator(df)
        #print(df)
        print(f"{cik} fin ratios calculated")
        valid_list.append(cik)
    except:
        print(f"{cik} has no ratios return")
        invalid_list.append(cik)
        pass
    
    return df, valid_list, invalid_list

In [35]:
def output_file(cik_list, fin_data_dic, industry):
    industry_df = pd.DataFrame()
    
    valid_company_list = []
    invalid_company_list = []

    for c in cik_list:
        generate_financial_data(c, fin_data_dic)
        temp_df, valid_list, invalid_list = generate_financial_ratio(c, industry, valid_company_list, invalid_company_list)
        
        industry_df = pd.concat([industry_df, temp_df], axis = 0)
        
#         print(f"{c} has been added.")
    
    industry_df.to_csv(f"{data_path}/{industry}.csv")
    
#     print(f"The list cik companies have connection with SEC website: {valid_company_list}.")
#     print(f"The list cik companies have no connection with SEC website, no value returned by using XBEL: {valid_company_list}.")
    
    return industry_df, valid_company_list, invalid_company_list

# 6. output process

### 6.1. define save function

In [36]:
def save_csv(file, path, industry):
    file.to_csv(f"{path}/{industry}.csv")
    print(f"{file} has been saved as csv.")
    return None

### 6.2. generate cfp in one file|

In [37]:
indus, valid_company_list, invalid_company_list = output_file(cik_list, Financial_data_dic, "agriculture")

current cik is 0001121702, acquire revenue
current cik is 0001121702, acquire net_income
current cik is 0001121702, acquire operating_income
current cik is 0001121702, acquire asset
current cik is 0001121702, acquire current_asset
current cik is 0001121702, acquire inventory
current cik is 0001121702, acquire current_liability
current cik is 0001121702, acquire debt
current cik is 0001121702, acquire equity
current cik is 0001121702, acquire eps
0001121702 fin data acquire compeleted.

FileNotFoundError: [Errno 2] No such file or directory: '/Users/j/Documents/GitHub/MAST90106/data/SEC_FIN_data/agriculture/0001121702.csv'

In [34]:
print(f"The list cik companies have connection with SEC website:")
for cik in valid_company_list:
    print(cik)

The list cik companies have connection with SEC website:
0001121702
0001425292
0001469443
0000037785
0001285785
0001441693
0000005981
0000835011
0000825542

In [35]:
print(f"The list cik companies have no connection with SEC website, no return data via XBRL:")
for cik in invalid_company_list:
    print(cik)

The list cik companies have no connection with SEC website, no return data via XBRL:
0000857949
0001321851
0001755672
0000941221
0001421461
0001725964
0001324404

In [627]:
save_csv(a, data_path, "agriculture")

    CurrentRatio   DERatio  NetMargin  OperatingMargin  QuickRatio      ROA1  \
0       5.701213       NaN -12.773467       -12.026283         NaN -0.702796
1       5.294064       NaN -16.074442       -10.665012         NaN -0.774973
2       3.886045       NaN -16.519784       -16.760791         NaN -0.708719
3       6.280842       NaN  -9.953390        -9.833686         NaN -0.556569
4       2.849891       NaN        NaN              NaN    2.849891 -0.707480
..           ...       ...        ...              ...         ...       ...
16      2.118011  1.414434        NaN              NaN    1.292147  0.081815
17      1.517508  0.571223        NaN              NaN    1.038545  0.094316
18      1.441464       NaN        NaN              NaN    0.835095  0.069051
19           NaN       NaN        NaN              NaN         NaN       NaN
20           NaN       NaN        NaN              NaN         NaN       NaN

        ROC1      ROE1         asset  current_asset  ...         debt  \
0        NaN -1.070709  1.452200e+07   1.034200e+07  ...          NaN
1        NaN  3.171603  1.671800e+07   1.168400e+07  ...          NaN
2        NaN -1.611969  1.296000e+07   6.377000e+06  ...          NaN
3        NaN -0.695897  1.688200e+07   1.491700e+07  ...          NaN
4        NaN -1.193908  1.074800e+07   7.860000e+06  ...          NaN
..       ...       ...           ...            ...  ...          ...
16  0.467644  0.299929  2.052200e+09   9.925000e+08  ...  791800000.0
17  0.296118  0.266972  2.164000e+09   1.118100e+09  ...  436700000.0
18       NaN  0.262275  2.220100e+09   1.090900e+09  ...          NaN
19       NaN -0.024960           NaN            NaN  ...          NaN
20       NaN       NaN           NaN            NaN  ...          NaN

                 entity.name   eps       equity    inventory   net_income  \
0   YIELD10 BIOSCIENCE, INC.   NaN    9532000.0          NaN  -10206000.0
1   YIELD10 BIOSCIENCE, INC.   NaN   -4085000.0          NaN  -12956000.0
2   YIELD10 BIOSCIENCE, INC.   NaN    5698000.0          NaN   -9185000.0
3   YIELD10 BIOSCIENCE, INC. -3.29   13502000.0          NaN   -9396000.0
4   YIELD10 BIOSCIENCE, INC. -2.73    6369000.0          0.0   -7604000.0
..                       ...   ...          ...          ...          ...
16     SCOTTS MIRACLE-GRO CO  2.60  559800000.0  387000000.0  167900000.0
17     SCOTTS MIRACLE-GRO CO  3.08  764500000.0  352900000.0  204100000.0
18     SCOTTS MIRACLE-GRO CO  2.36  584500000.0  458900000.0  153300000.0
19     SCOTTS MIRACLE-GRO CO -0.17  436700000.0          NaN  -10900000.0
20                       NaN   NaN  479300000.0          NaN          NaN

    operating_income  period.end period.fiscal-year   revenue
0         -9609000.0  2021-01-01             2020.0  799000.0
1         -8596000.0  2020-01-01             2019.0  806000.0
2         -9319000.0  2019-01-01             2018.0  556000.0
3         -9283000.0  2018-01-01             2017.0  944000.0
4        -10248000.0         NaN             2016.0       NaN
..               ...         ...                ...       ...
16       274800000.0         NaN             2011.0       NaN
17       374400000.0         NaN             2010.0       NaN
18       260500000.0         NaN             2009.0       NaN
19       139800000.0         NaN             2008.0       NaN
20               NaN         NaN             2007.0       NaN

[121 rows x 21 columns] has been saved as csv.

In [607]:
# # test one cik
# cik = "0001121702"
# a = generate_financial_ratio(cik, Financial_data_dic)
# #acquire_data(cik, "NetIncomeLoss")

current cik is 0001121702, acquire revenue
current cik is 0001121702, acquire net_income
current cik is 0001121702, acquire operating_income
current cik is 0001121702, acquire asset
current cik is 0001121702, acquire current_asset
current cik is 0001121702, acquire inventory
current cik is 0001121702, acquire current_liability
current cik is 0001121702, acquire debt
current cik is 0001121702, acquire equity
current cik is 0001121702, acquire eps
0001121702 compelete.
0001121702 fin ratios calculated

In [121]:
indus

,CurrentRatio,DERatio,NetMargin,OperatingMargin,QuickRatio,ROA1,ROC1,ROE1,asset,current_asset,...,entity.cik,entity.name,eps,equity,inventory,net_income,operating_income,period.end,period.fiscal-year,revenue
0,5.701213,NaN,-12.773467,-12.026283,NaN,-0.702796,NaN,-1.070709,1.452200e+07,1.034200e+07,...,0001121702,"YIELD10 BIOSCIENCE, INC.",NaN,9532000.0,NaN,-10206000.0,-9609000.0,2021-01-01,2020.0,799000.0
1,5.294064,NaN,-16.074442,-10.665012,NaN,-0.774973,NaN,3.171603,1.671800e+07,1.168400e+07,...,0001121702,"YIELD10 BIOSCIENCE, INC.",NaN,-4085000.0,NaN,-12956000.0,-8596000.0,2020-01-01,2019.0,806000.0
2,3.886045,NaN,-16.519784,-16.760791,NaN,-0.708719,NaN,-1.611969,1.296000e+07,6.377000e+06,...,0001121702,"YIELD10 BIOSCIENCE, INC.",NaN,5698000.0,NaN,-9185000.0,-9319000.0,2019-01-01,2018.0,556000.0
3,6.280842,NaN,-9.953390,-9.833686,NaN,-0.556569,NaN,-0.695897,1.688200e+07,1.491700e+07,...,0001121702,"YIELD10 BIOSCIENCE, INC.",-3.29,13502000.0,NaN,-9396000.0,-9283000.0,2018-01-01,2017.0,944000.0
4,2.849891,NaN,NaN,NaN,2.849891,-0.707480,NaN,-1.193908,1.074800e+07,7.860000e+06,...,0001121702,"YIELD10 BIOSCIENCE, INC.",-2.73,6369000.0,0.0,-7604000.0,-10248000.0,NaN,2016.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16,2.118011,1.414434,NaN,NaN,1.292147,0.081815,0.467644,0.299929,2.052200e+09,9.925000e+08,...,0000825542,SCOTTS MIRACLE-GRO CO,2.60,559800000.0,387000000.0,167900000.0,274800000.0,NaN,2011.0,NaN
17,1.517508,0.571223,NaN,NaN,1.038545,0.094316,0.296118,0.266972,2.164000e+09,1.118100e+09,...,0000825542,SCOTTS MIRACLE-GRO CO,3.08,764500000.0,352900000.0,204100000.0,374400000.0,NaN,2010.0,NaN
18,1.441464,NaN,NaN,NaN,0.835095,0.069051,NaN,0.262275,2.220100e+09,1.090900e+09,...,0000825542,SCOTTS MIRACLE-GRO CO,2.36,584500000.0,458900000.0,153300000.0,260500000.0,NaN,2009.0,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.024960,NaN,NaN,...,0000825542,SCOTTS MIRACLE-GRO CO,-0.17,436700000.0,NaN,-10900000.0,139800000.0,NaN,2008.0,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,479300000.0,NaN,NaN,NaN,NaN,2007.0,NaN

In [550]:
temp1 = cik_fin_value_df

In [551]:
temp1

,period.fiscal-year,period.end,revenue,net_income,operating_income,asset,current_asset,inventory,current_liability,debt,...,equity,eps,ROA1,ROE1,ROC1,OperatingMargin,NetMargin,CurrentRatio,QuickRatio,DERatio
0,2020,2021-01-01,799000.0,-10206000.0,-9609000.0,14522000.0,10342000.0,NaN,1814000.0,NaN,...,9532000,NaN,-0.702796,-1.070709,NaN,-12.026283,-12.773467,5.701213,NaN,NaN
1,2019,2020-01-01,806000.0,-12956000.0,-8596000.0,16718000.0,11684000.0,NaN,2207000.0,NaN,...,-4085000,NaN,-0.774973,3.171603,NaN,-10.665012,-16.074442,5.294064,NaN,NaN
2,2018,2019-01-01,556000.0,-9185000.0,-9319000.0,12960000.0,6377000.0,NaN,1641000.0,NaN,...,5698000,NaN,-0.708719,-1.611969,NaN,-16.760791,-16.519784,3.886045,NaN,NaN
3,2017,2018-01-01,944000.0,-9396000.0,-9283000.0,16882000.0,14917000.0,NaN,2375000.0,NaN,...,13502000,-3.29,-0.556569,-0.695897,NaN,-9.833686,-9.953390,6.280842,NaN,NaN
4,2016,NaN,NaN,-7604000.0,-10248000.0,10748000.0,7860000.0,0.0,2758000.0,NaN,...,6369000,-2.73,-0.707480,-1.193908,NaN,NaN,NaN,2.849891,2.849891,NaN
5,2015,NaN,NaN,-23681000.0,-12469000.0,17088000.0,14850000.0,51000.0,3910000.0,NaN,...,13028000,-0.95,-1.385826,-1.817700,NaN,NaN,NaN,3.797954,3.784910,NaN
6,2014,NaN,NaN,-29534000.0,-26829000.0,23135000.0,21965000.0,586000.0,4189000.0,NaN,...,18796000,-2.88,-1.276594,-1.571292,NaN,NaN,NaN,5.243495,5.103605,NaN
7,2013,NaN,NaN,-30506000.0,-28540000.0,26738000.0,25231000.0,1921000.0,6195000.0,NaN,...,20398000,-5.31,-1.140923,-1.495539,NaN,NaN,NaN,4.072801,3.762712,NaN
8,2012,NaN,NaN,NaN,3929000.0,53510000.0,48955000.0,3204000.0,5984000.0,NaN,...,47340000,0.11,NaN,NaN,NaN,NaN,NaN,8.180983,7.645555,NaN
9,2011,NaN,NaN,NaN,-38861000.0,82912000.0,78439000.0,NaN,7165000.0,NaN,...,39463000,-1.24,NaN,NaN,NaN,NaN,NaN,10.947523,NaN,NaN
10,2010,NaN,NaN,NaN,-38939000.0,66771000.0,63256000.0,NaN,6395000.0,NaN,...,23676000,-1.45,NaN,NaN,NaN,NaN,NaN,9.891478,NaN,NaN
11,2009,NaN,NaN,NaN,-38729000.0,NaN,NaN,NaN,NaN,NaN,...,55044000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2008,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,59091000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [396]:
temp1 = temp.fillna(0)

In [535]:
len(temp1["period.end"])

13

In [408]:
temp1["ROA"]=temp1.apply(lambda x:x["net_income"]+x["asset"], axis = 1)

In [554]:
temp1["de"] = np.NaN

# merge each 'period.fiscal-year'

 # find the identical year]

In [477]:
temp1["period.fiscal-year"].columns = ["a","b","c","d","e","f","g","h"]

In [478]:
temp1["period.fiscal-year"]

,period.fiscal-year,period.fiscal-year,period.fiscal-year,period.fiscal-year,period.fiscal-year,period.fiscal-year,period.fiscal-year,period.fiscal-year
0,2020.0,2020.0,2020.0,2020.0,2020.0,2020.0,2020,2017.0
1,2019.0,2019.0,2019.0,2019.0,2019.0,2019.0,2019,2016.0
2,2018.0,2018.0,2018.0,2018.0,2018.0,2018.0,2018,2015.0
3,2017.0,2017.0,2017.0,2017.0,2017.0,2017.0,2017,2014.0
4,NaN,2016.0,2016.0,2016.0,2016.0,2016.0,2016,2013.0
5,NaN,2015.0,2015.0,2015.0,2015.0,2015.0,2015,2012.0
6,NaN,2014.0,2014.0,2014.0,2014.0,2014.0,2014,2011.0
7,NaN,2013.0,2013.0,2013.0,2013.0,2013.0,2013,2010.0
8,NaN,NaN,2012.0,2012.0,2012.0,2012.0,2012,NaN
9,NaN,NaN,2011.0,2011.0,2011.0,2011.0,2011,NaN
10,NaN,NaN,2010.0,2010.0,2010.0,2010.0,2010,NaN
11,NaN,NaN,2009.0,NaN,NaN,NaN,2009,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,2008,NaN

In [474]:
temp1

,period.fiscal-year,period.end,entity.name,revenue,unit,report.filing-date,period.fiscal-year,entity.name,net_income,period.fiscal-year,...,equity,period.fiscal-year,entity.name,eps,ROA1,ROE1,OperatingMargin,NetMargin,CurrentRatio,de
0,2020.0,2021-01-01,"YIELD10 BIOSCIENCE, INC.",799000.0,USD,2021-03-16,2020.0,"YIELD10 BIOSCIENCE, INC.",-10206000.0,2020.0,...,9532000,2017.0,"YIELD10 BIOSCIENCE, INC.",-3.29,-0.702796,-1.070709,-12.026283,-12.773467,5.701213,NaN
1,2019.0,2020-01-01,"YIELD10 BIOSCIENCE, INC.",806000.0,USD,2021-03-16,2019.0,"YIELD10 BIOSCIENCE, INC.",-12956000.0,2019.0,...,-4085000,2016.0,"YIELD10 BIOSCIENCE, INC.",-2.73,-0.774973,3.171603,-10.665012,-16.074442,5.294064,NaN
2,2018.0,2019-01-01,"YIELD10 BIOSCIENCE, INC.",556000.0,USD,2020-03-25,2018.0,"YIELD10 BIOSCIENCE, INC.",-9185000.0,2018.0,...,5698000,2015.0,"YIELD10 BIOSCIENCE, INC.",-0.95,-0.708719,-1.611969,-16.760791,-16.519784,3.886045,NaN
3,2017.0,2018-01-01,"YIELD10 BIOSCIENCE, INC.",944000.0,USD,2019-03-28,2017.0,"YIELD10 BIOSCIENCE, INC.",-9396000.0,2017.0,...,13502000,2014.0,"METABOLIX, INC.",-2.88,-0.556569,-0.695897,-9.833686,-9.953390,6.280842,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,2016.0,"YIELD10 BIOSCIENCE, INC.",-7604000.0,2016.0,...,6369000,2013.0,"METABOLIX, INC.",-5.31,-0.707480,-1.193908,NaN,NaN,2.849891,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,2015.0,"YIELD10 BIOSCIENCE, INC.",-23681000.0,2015.0,...,13028000,2012.0,"METABOLIX, INC.",0.11,-1.385826,-1.817700,NaN,NaN,3.797954,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,2014.0,"METABOLIX, INC.",-29534000.0,2014.0,...,18796000,2011.0,"METABOLIX, INC.",-1.24,-1.276594,-1.571292,NaN,NaN,5.243495,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,2013.0,"METABOLIX, INC.",-30506000.0,2013.0,...,20398000,2010.0,"METABOLIX, INC.",-1.45,-1.140923,-1.495539,NaN,NaN,4.072801,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012.0,...,47340000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.180983,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011.0,...,39463000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.947523,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2010.0,...,23676000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.891478,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2009.0,...,55044000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,59091000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [437]:
temp1

,period.fiscal-year,period.end,entity.name,revenue,unit,report.filing-date,period.fiscal-year,entity.name,net_income,period.fiscal-year,...,entity.name,equity,period.fiscal-year,entity.name,eps,ROA1,ROE1,OperatingMargin,NetMargin,CurrentRatio
0,2020.0,2021-01-01,"YIELD10 BIOSCIENCE, INC.",799000.0,USD,2021-03-16,2020.0,"YIELD10 BIOSCIENCE, INC.",-10206000.0,2020.0,...,"YIELD10 BIOSCIENCE, INC.",9532000,2017.0,"YIELD10 BIOSCIENCE, INC.",-3.29,-0.702796,-1.070709,-12.026283,-12.773467,5.701213
1,2019.0,2020-01-01,"YIELD10 BIOSCIENCE, INC.",806000.0,USD,2021-03-16,2019.0,"YIELD10 BIOSCIENCE, INC.",-12956000.0,2019.0,...,"YIELD10 BIOSCIENCE, INC.",-4085000,2016.0,"YIELD10 BIOSCIENCE, INC.",-2.73,-0.774973,3.171603,-10.665012,-16.074442,5.294064
2,2018.0,2019-01-01,"YIELD10 BIOSCIENCE, INC.",556000.0,USD,2020-03-25,2018.0,"YIELD10 BIOSCIENCE, INC.",-9185000.0,2018.0,...,"YIELD10 BIOSCIENCE, INC.",5698000,2015.0,"YIELD10 BIOSCIENCE, INC.",-0.95,-0.708719,-1.611969,-16.760791,-16.519784,3.886045
3,2017.0,2018-01-01,"YIELD10 BIOSCIENCE, INC.",944000.0,USD,2019-03-28,2017.0,"YIELD10 BIOSCIENCE, INC.",-9396000.0,2017.0,...,"YIELD10 BIOSCIENCE, INC.",13502000,2014.0,"METABOLIX, INC.",-2.88,-0.556569,-0.695897,-9.833686,-9.953390,6.280842
4,NaN,NaN,NaN,NaN,NaN,NaN,2016.0,"YIELD10 BIOSCIENCE, INC.",-7604000.0,2016.0,...,"YIELD10 BIOSCIENCE, INC.",6369000,2013.0,"METABOLIX, INC.",-5.31,-0.707480,-1.193908,NaN,NaN,2.849891
5,NaN,NaN,NaN,NaN,NaN,NaN,2015.0,"YIELD10 BIOSCIENCE, INC.",-23681000.0,2015.0,...,"YIELD10 BIOSCIENCE, INC.",13028000,2012.0,"METABOLIX, INC.",0.11,-1.385826,-1.817700,NaN,NaN,3.797954
6,NaN,NaN,NaN,NaN,NaN,NaN,2014.0,"METABOLIX, INC.",-29534000.0,2014.0,...,"YIELD10 BIOSCIENCE, INC.",18796000,2011.0,"METABOLIX, INC.",-1.24,-1.276594,-1.571292,NaN,NaN,5.243495
7,NaN,NaN,NaN,NaN,NaN,NaN,2013.0,"METABOLIX, INC.",-30506000.0,2013.0,...,"METABOLIX, INC.",20398000,2010.0,"METABOLIX, INC.",-1.45,-1.140923,-1.495539,NaN,NaN,4.072801
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012.0,...,"METABOLIX, INC.",47340000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.180983
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011.0,...,"METABOLIX, INC.",39463000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.947523
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2010.0,...,"METABOLIX, INC.",23676000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.891478
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2009.0,...,"METABOLIX, INC.",55044000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"METABOLIX, INC.",59091000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [385]:
cik_fin_value_df["ROE1"] = cik_fin_value_df.apply(lambda x:x["net_income"]/x["equity"], axis = 1)

TypeError: ("unsupported operand type(s) for /: 'str' and 'str'", 'occurred at index 0')

In [ ]:
cik_fin_value_df["ROE1"] = cik_fin_value_df.apply(lambda x:x["net_income"]/x["equity"], axis = 1)

In [386]:
cik_fin_value_df

,period.fiscal-year,period.end,entity.name,revenue,unit,report.filing-date,period.fiscal-year,entity.name,net_income,period.fiscal-year,...,asset,period.fiscal-year,entity.name,current_asset,period.fiscal-year,entity.name,current_liability,period.fiscal-year,entity.name,equity
0,2020.0,2021-01-01,"YIELD10 BIOSCIENCE, INC.",799000,USD,2021-03-16,2020.0,"YIELD10 BIOSCIENCE, INC.",-10206000,2020.0,...,14522000,2020.0,"YIELD10 BIOSCIENCE, INC.",10342000,2020.0,"YIELD10 BIOSCIENCE, INC.",1814000,2020,"YIELD10 BIOSCIENCE, INC.",9532000
1,2019.0,2020-01-01,"YIELD10 BIOSCIENCE, INC.",806000,USD,2021-03-16,2019.0,"YIELD10 BIOSCIENCE, INC.",-12956000,2019.0,...,16718000,2019.0,"YIELD10 BIOSCIENCE, INC.",11684000,2019.0,"YIELD10 BIOSCIENCE, INC.",2207000,2019,"YIELD10 BIOSCIENCE, INC.",-4085000
2,2018.0,2019-01-01,"YIELD10 BIOSCIENCE, INC.",556000,USD,2020-03-25,2018.0,"YIELD10 BIOSCIENCE, INC.",-9185000,2018.0,...,12960000,2018.0,"YIELD10 BIOSCIENCE, INC.",6377000,2018.0,"YIELD10 BIOSCIENCE, INC.",1641000,2018,"YIELD10 BIOSCIENCE, INC.",5698000
3,2017.0,2018-01-01,"YIELD10 BIOSCIENCE, INC.",944000,USD,2019-03-28,2017.0,"YIELD10 BIOSCIENCE, INC.",-9396000,2017.0,...,16882000,2017.0,"YIELD10 BIOSCIENCE, INC.",14917000,2017.0,"YIELD10 BIOSCIENCE, INC.",2375000,2017,"YIELD10 BIOSCIENCE, INC.",13502000
4,NaN,NaN,NaN,NaN,NaN,NaN,2016.0,"YIELD10 BIOSCIENCE, INC.",-7604000,2016.0,...,10748000,2016.0,"YIELD10 BIOSCIENCE, INC.",7860000,2016.0,"YIELD10 BIOSCIENCE, INC.",2758000,2016,"YIELD10 BIOSCIENCE, INC.",6369000
5,NaN,NaN,NaN,NaN,NaN,NaN,2015.0,"YIELD10 BIOSCIENCE, INC.",-23681000,2015.0,...,17088000,2015.0,"YIELD10 BIOSCIENCE, INC.",14850000,2015.0,"YIELD10 BIOSCIENCE, INC.",3910000,2015,"YIELD10 BIOSCIENCE, INC.",13028000
6,NaN,NaN,NaN,NaN,NaN,NaN,2014.0,"METABOLIX, INC.",-29534000,2014.0,...,23135000,2014.0,"METABOLIX, INC.",21965000,2014.0,"METABOLIX, INC.",4189000,2014,"YIELD10 BIOSCIENCE, INC.",18796000
7,NaN,NaN,NaN,NaN,NaN,NaN,2013.0,"METABOLIX, INC.",-30506000,2013.0,...,26738000,2013.0,"METABOLIX, INC.",25231000,2013.0,"METABOLIX, INC.",6195000,2013,"METABOLIX, INC.",20398000
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012.0,...,53510000,2012.0,"METABOLIX, INC.",48955000,2012.0,"METABOLIX, INC.",5984000,2012,"METABOLIX, INC.",47340000
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011.0,...,82912000,2011.0,"METABOLIX, INC.",78439000,2011.0,"METABOLIX, INC.",7165000,2011,"METABOLIX, INC.",39463000
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2010.0,...,66771000,2010.0,"METABOLIX, INC.",63256000,2010.0,"METABOLIX, INC.",6395000,2010,"METABOLIX, INC.",23676000
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2009.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2009,"METABOLIX, INC.",55044000
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008,"METABOLIX, INC.",59091000

In [388]:
cik_fin_value_df=cik_fin_value_df.replace({np.nan:None})

In [389]:
cik_fin_value_df

,period.fiscal-year,period.end,entity.name,revenue,unit,report.filing-date,period.fiscal-year,entity.name,net_income,period.fiscal-year,...,asset,period.fiscal-year,entity.name,current_asset,period.fiscal-year,entity.name,current_liability,period.fiscal-year,entity.name,equity
0,2020,2021-01-01,"YIELD10 BIOSCIENCE, INC.",799000,USD,2021-03-16,2020,"YIELD10 BIOSCIENCE, INC.",-10206000,2020,...,14522000,2020,"YIELD10 BIOSCIENCE, INC.",10342000,2020,"YIELD10 BIOSCIENCE, INC.",1814000,2020,"YIELD10 BIOSCIENCE, INC.",9532000
1,2019,2020-01-01,"YIELD10 BIOSCIENCE, INC.",806000,USD,2021-03-16,2019,"YIELD10 BIOSCIENCE, INC.",-12956000,2019,...,16718000,2019,"YIELD10 BIOSCIENCE, INC.",11684000,2019,"YIELD10 BIOSCIENCE, INC.",2207000,2019,"YIELD10 BIOSCIENCE, INC.",-4085000
2,2018,2019-01-01,"YIELD10 BIOSCIENCE, INC.",556000,USD,2020-03-25,2018,"YIELD10 BIOSCIENCE, INC.",-9185000,2018,...,12960000,2018,"YIELD10 BIOSCIENCE, INC.",6377000,2018,"YIELD10 BIOSCIENCE, INC.",1641000,2018,"YIELD10 BIOSCIENCE, INC.",5698000
3,2017,2018-01-01,"YIELD10 BIOSCIENCE, INC.",944000,USD,2019-03-28,2017,"YIELD10 BIOSCIENCE, INC.",-9396000,2017,...,16882000,2017,"YIELD10 BIOSCIENCE, INC.",14917000,2017,"YIELD10 BIOSCIENCE, INC.",2375000,2017,"YIELD10 BIOSCIENCE, INC.",13502000
4,None,None,None,None,None,None,2016,"YIELD10 BIOSCIENCE, INC.",-7604000,2016,...,10748000,2016,"YIELD10 BIOSCIENCE, INC.",7860000,2016,"YIELD10 BIOSCIENCE, INC.",2758000,2016,"YIELD10 BIOSCIENCE, INC.",6369000
5,None,None,None,None,None,None,2015,"YIELD10 BIOSCIENCE, INC.",-23681000,2015,...,17088000,2015,"YIELD10 BIOSCIENCE, INC.",14850000,2015,"YIELD10 BIOSCIENCE, INC.",3910000,2015,"YIELD10 BIOSCIENCE, INC.",13028000
6,None,None,None,None,None,None,2014,"METABOLIX, INC.",-29534000,2014,...,23135000,2014,"METABOLIX, INC.",21965000,2014,"METABOLIX, INC.",4189000,2014,"YIELD10 BIOSCIENCE, INC.",18796000
7,None,None,None,None,None,None,2013,"METABOLIX, INC.",-30506000,2013,...,26738000,2013,"METABOLIX, INC.",25231000,2013,"METABOLIX, INC.",6195000,2013,"METABOLIX, INC.",20398000
8,None,None,None,None,None,None,None,None,None,2012,...,53510000,2012,"METABOLIX, INC.",48955000,2012,"METABOLIX, INC.",5984000,2012,"METABOLIX, INC.",47340000
9,None,None,None,None,None,None,None,None,None,2011,...,82912000,2011,"METABOLIX, INC.",78439000,2011,"METABOLIX, INC.",7165000,2011,"METABOLIX, INC.",39463000
10,None,None,None,None,None,None,None,None,None,2010,...,66771000,2010,"METABOLIX, INC.",63256000,2010,"METABOLIX, INC.",6395000,2010,"METABOLIX, INC.",23676000
11,None,None,None,None,None,None,None,None,None,2009,...,None,None,None,None,None,None,None,2009,"METABOLIX, INC.",55044000
12,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,2008,"METABOLIX, INC.",59091000

In [321]:
type(cik_fin_value_df)

pandas.core.frame.DataFrame

In [320]:
type(temp_df)

pandas.core.frame.DataFrame

In [341]:
len(Financial_data_dic)

8

In [39]:

    # Define the fields to be returned
fields = ['*',
         ]
    
    # Filter the query for specific XBRL elements (tags) to research
XBRL_Elements = ["Assets"]
    
    # Filter companies for the query
companies_cik = ["0000789019"]
    
    # api parameters
params = {'fields': ','.join(fields),
         'concept.local-name': ','.join(XBRL_Elements),
         'entity.cik': ','.join(companies_cik),
         #'period.fiscal-year': ','.join(years),
         'period.fiscal-period': 'Y',
         'fact.has-dimensions': 'FALSE',
         'fact.ultimus': 'TRUE'
         }
    
search_endpoint = 'https://api.xbrl.us/api/v1/fact/search'
res = requests.get(search_endpoint, params=params, headers={'Authorization' : 'Bearer {}'.format(access_token)})
res_json = res.json()
res_df = pd.DataFrame(res_json['data'])
    
#     print(res_json['paging'])
#     print(res_df)

KeyError: 'data'

In [52]:
# Define the fields to be returned
fields = ['fact.*']

In [41]:
# Filter the query for specific XBRL elements (tags) to research
XBRL_Elements = ['Assets',
                 'Liabilities',
                 'LiabilitiesAndStockholdersEquity'
                ]

In [42]:
# Filter companies for the query
companies_cik = ['0000789019', ## Microsoft (MSFT)
                 '0001018724', ## Amazon (AMZN)
                 '0000320193', ## Apple (AAPL)
                 '0000051143', ## IBM (IBM)
                ]

In [53]:
# api parameters
params = {'fields': ','.join(fields),
         'concept.local-name': ','.join(XBRL_Elements),
         'entity.cik': ','.join(companies_cik),
         #'period.fiscal-year': ','.join(years),
         'period.fiscal-period': 'Y',
         'fact.has-dimensions': 'FALSE',
         'fact.ultimus': 'TRUE'
         }

In [54]:
search_endpoint = 'https://api.xbrl.us/api/v1/fact/search'
res = requests.get(search_endpoint, params=params, headers={'Authorization' : 'Bearer {}'.format(access_token)})
res_json = res.json()
res_df = pd.DataFrame(res_json['data'])

In [51]:
res_json

{'error': 'Fields With Invalid Value',
 'error_description': 'Fields parameter using an asterisk must provide an objectname i.e. fact.*'}

In [56]:
res_df.columns

Index(['concept.balance-type', 'concept.datatype', 'concept.id',
       'concept.is-base', 'concept.is-monetary', 'concept.local-name',
       'concept.namespace', 'concept.period-type', 'dimension.is-base',
       'dimension.local-name', 'dimension.namespace', 'dimensions',
       'dimensions.count', 'dimensions.id', 'dts.entry-point', 'dts.id',
       'dts.target-namespace', 'entity.cik', 'entity.id', 'entity.name',
       'entity.scheme', 'fact.accuracy-index', 'fact.decimals',
       'fact.has-dimensions', 'fact.hash', 'fact.id',
       'fact.inline-display-value', 'fact.inline-is-hidden',
       'fact.inline-negated', 'fact.inline-scale', 'fact.is-extended',
       'fact.numerical-value', 'fact.ultimus', 'fact.ultimus-index',
       'fact.value', 'fact.value-link', 'fact.xml-id', 'member.is-base',
       'member.local-name', 'member.member-value', 'member.namespace',
       'member.typed-value', 'period.calendar-period', 'period.end',
       'period.fiscal-id', 'period.fiscal-period', 'period.fiscal-year',
       'period.id', 'period.instant', 'period.start', 'period.year',
       'report.accession', 'report.creation-software', 'report.document-index',
       'report.document-type', 'report.documentset-num', 'report.entry-url',
       'report.filing-date', 'report.id', 'report.is-most-current',
       'report.period-end', 'report.restated', 'report.restated-index',
       'report.sec-url', 'report.sic-code', 'report.source-id',
       'report.source-name', 'report.type', 'unit', 'unit.denominator',
       'unit.numerator', 'unit.qname'],
      dtype='object')

In [59]:
res_df["entity.cik"]

0     0001018724
1     0001018724
2     0001018724
3     0001018724
4     0001018724
         ...
95    0000320193
96    0000320193
97    0000320193
98    0000320193
99    0000320193
Name: entity.cik, Length: 100, dtype: object

In [198]:
res_json

{'error': 'invalid_request', 'error_description': 'Bad or expired token'}

In [199]:
res